.panel {
    background: #323232 !important;
}

.material-label.blue-text {
    color: #bb86fc !important;
}

pre.hljs {
    background-color: black;
}

.banner-container {
    background: #1e1e1e !important;
}